/*ORDER*/
.orderBlock {
    display: flex;
    padding: 100px 0 100px 40px;
}

/*ORDER-FORM*/
.orderBlock .orderForm {
    display: inline-block;
    min-width: 400px;
    height: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

/*ORDER-BLOCK-CARD*/
.orderBlock .orderBlockCard {
    display: inline-block;
}
/*ORDER-CARD*/
.orderBlock .orderBlockCard .orderCard {
    display: inline-block;
    min-width: 260px;
    padding: 10px;
    margin: 0 0 20px 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

}
/*ORDER-CARD-FLEX*/
.orderBlock .orderBlockCard-card .orderCard .orderCardFlex {
    display: flex;
}
/*ORDER-CARD-PHOTO*/
.orderBlock .orderBlockCard .orderCard .orderCardFlex .orderPhoto {
    margin: auto;
    width: 110px;
    height: 110px;
}
.orderBlock .orderBlockCard .orderCard .orderCardFlex .orderPhoto img {
    width: 100%;
    height: 100%;
}
/*ORDER-CARD-BODY*/
.orderBlock .orderBlockCard .orderCard .orderCardFlex .orderBody {
    padding-left: 15px;
}
.orderBlock .orderBlockCard .orderCard .orderCardFlex .orderBody h4 {
    margin: 0;
    padding-bottom: 10px;
    color: rgba(25,25,25,.7);
}
.orderBlock .orderBlockCard .orderCard .orderCardFlex .orderBody h4 strong {
    color: black;
    padding-left: 10px;
}

@media (max-width: 1370px) {
    .orderBlock {
        display: inline-block;
    }
    .orderBlock .orderBlockCard {
        padding-top: 20px;
    }
}

@media (max-width: 1160px) {
    .orderBlock {
        display: inline-block;
    }
    .orderBlock .orderBlockCard {
        padding-top: 20px;
    }
}

@media (max-width: 750px) {
    .order-block {
        padding-left: 0;
    }
}
