/*OVERVIEW-CARD*/
.overviewCard {
    padding: 50px;
    display: flex;
    width: 100%;
    height: 100%;
}

/*LAST-PAGE*/
.lastPage {
    width: 50px;
    height: 50px;
}

.lastPage span {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

/*PHOTO*/
.overviewCard .photo {
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    width: 500px;
    height: 100%;
    background-color: white;
}

/*PHOTO-LARGE*/
.overviewCard .photo .photoLarge {
    display: inline-block;
    width: 100%;
    height: 400px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2);
}
.overviewCard .photo .photoLarge img {
    width: 100%;
    height: 100%;
}

/*PHOTO-SMALL*/
.overviewCard .photo .photoSmall {
    display: inline-block;
    margin: 5px;
    width: 110px;
    height: 100px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2);
}
.overviewCard .photo .photoSmall:hover {
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0,0,0,.1);
}
.overviewCard .photo .photoSmall img {
    width: 100%;
    height: 100%;
}

/*INFO*/
.overviewCard .info {
    padding-left: 50px;
    display: inline-block;
    width: 500px;
    background-color: white;
}

/*INFO-TITLE*/
.overviewCard .info .infoTitle {
    text-transform: uppercase;
    text-align: center;
}

/*INFO-PRICE*/
.overviewCard .info .infoPrice {
    text-transform: uppercase;
    text-align: left;
}
.overviewCard .info .infoPrice h4 {
    color: rgba(25,25,25,.7);
}
.overviewCard .info .infoPrice h4 strong {
    color: black;
    padding-left: 10px;
}

/*INFO-SIZE*/
.overviewCard .info .infoSize {
    text-transform: uppercase;
    text-align: left;
}
.overviewCard .info .info-size h4 {
    color: rgba(25,25,25,.7);
}
.overviewCard .info .infoSize h4 strong {
    color: black;
    padding-left: 10px;
}

/*INFO-QUANTITY*/
.overviewCard .info .infoQuantity {
    text-align: left;
    padding: 0 0 20px 0;
}
.overviewCard .info .infoQuantity input {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    width: 100px;
    height: 30px;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
}
.overviewCard .info .infoQuantity input:focus {
    border-bottom: none;
    box-shadow: 0 2px 0 0 #252525;
}

/*INFO-BUTTONS*/
.overviewCard .info .infoButtons {
    text-align: left;
    padding: 0 0 20px 0;
}
.overviewCard .info .infoButtons button {
    margin-right: 20px;
    border: none;
    outline: none;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    color: #252525;
    background-color: white;
    text-align: center;
    letter-spacing: .5px;
    transition: background-color .2s ease-out;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2);
}
.overviewCard .info .infoButtons button:hover {
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0,0,0,.1);
}

/*INFO-DESCRIPTION*/
.overviewCard .info .info-description {}

@media (max-width: 1160px) {
    .overviewCard {
        display: inline-block;
    }
}

@media (max-width: 930px) {
    .overviewCard {
        padding-left: 10px;
    }
}
