/*SIDEBAR*/
.sidebar {
    padding: 100px 0;
    display: inline-block;
    width: 300px;
    height: 100%;
    background-color: white;
}
.sidebar .menu {
    position: relative;
    width: 300px;
    height: 100%;
    background-color: white;
    /*border: 1px solid rgba(0,0,0,0.14);*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2);
}
.sidebar .menu .menuPosition {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.sidebar .menu .menuPosition a {
    text-decoration: none;
}
.sidebar .menu .menuPosition .position {
    color: black;
    outline: none;
    cursor: pointer;
    padding: 20px;
    list-style-type: none;
}
.sidebar .menu .menuPosition .position:hover {
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),
    inset 0 0 20px rgba(0,0,0,.1);
}
.active {
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14);
    background-color: rgba(255, 255, 0, 0.6);
}
.sidebar .menu .menuPosition .position .pTitle {
    margin: 0;
}

@media (max-width: 750px) {
    .sidebar {
        padding-bottom: 0;
    }
}
