/*FILTER*/
.filterBlock {
    padding-left: 20px;
    display: inline-block;
    width: 100%;
    background-color: white;
}
.filterBlock .filter {
    display: inline-block;
    margin-right: 20px;
}

/*FILTER-PRICE*/
.filterBlock .filter .price {
    display: inline-block;
    background-color: white;
}
.filterBlock .filter .price input {
    text-align: center;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    width: 100px;
    height: 30px;
    font-size: 16px;
    margin: 0 20px 8px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
}
.filterBlock .filter .price input:focus {
    border-bottom: none;
    box-shadow: 0 2px 0 0 #252525;
}

/*FILTER-SIZE*/
.filterBlock .filter .size {
    display: inline-block;
    background-color: white;
}
.filterBlock .filter .size input {
    text-align: center;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    width: 100px;
    height: 30px;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
}
.filterBlock .filter .size input:focus {
    border-bottom: none;
    box-shadow: 0 2px 0 0 #252525;
}


